* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  /* styling for header and nav bar */
  header{ 
      background-color: #F2F2F2;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      position: sticky;
      position: -webkit-sticky;
      top: 0;
      z-index: 9999;
      text-decoration: none;
  }
  header h1 {
      font-weight: bold;
      margin: 0;
      font-size: 30;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);      
  }
  header h1 a {
    text-decoration: none;
    color: #F2695C;
  }
  header nav {
      margin: 7px 0;
  }
  header nav ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;

  }
  header nav ul li a {
      padding: 10px 15px;
      font-weight: lighter;
      font-size: 1.50vw;
      color: black;
      text-decoration: none;
  }
  header nav ul li a:hover {
      text-decoration: none;
      text-shadow:0 0 10px rgba(198, 9, 33, 0.5);
  }
  /*styling of hero banner and image*/
.image img {
    width: 600px;
    height: 900px;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hero h2{
    font-size: 100px;
    padding: 300px 0 300px 0;
    text-align: center;
    color: #F2B999
}
/* styling of the section containing all info */
.intro {
      text-align: center;
      margin: 50px auto;
      padding-bottom: 50px;
      max-width: 100%;
      position: relative;
  }
.intro h2 {
      color: #F2695C;
      font-size: 100px;
      margin-bottom: 75px;
      border-bottom: 3px #F2F2F2 solid;
      margin: 0 auto 35px auto;
      width: 50%;
  }
.intro h3 {
    font-size: 50px;
    color: #F2B999;

}

.intro div p{
    font-size: 20px;
    padding: 0 100px 0 100px;
}
/* styling the projects section */
.projects {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    width: 100%;
}
.projects h3 {
    font-size: 27px;
    color: #F2B999;
}
.projects img {
    width: 250px;
    height: 150px;
    transition: 0.3s;
    border: 5px #D9C0BA solid;
}
.projects img:hover {
    width: 250px;
    height: 150px;
    opacity: 0.5;
}
.bigger a img{
    width: 500px;
    height: 300px;
    justify-content: center;
    transition: 0.3s;
    border: 5px #D9C0BA solid;
}
.bigger a img:hover {
    width: 500px;
    height: 300px;
    justify-content: center;
    opacity: 0.5;
}
.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-size: 27px;
}
footer {
    text-align: center;
}

/* media query for smaller screens on desktop */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
      }
    
      header h1 {
        width: 100%;
        text-align: center;
      }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
    
      header nav ul li a {
        font-size: 20px;
      }
    .projects {
        flex: 0 70%
    }
}
/* media query for tablets and smaller */
@media screen and (max-width: 768px) {
    .projects {
        flex: 1 100%;
    }
}
/* media query for phones and smaller */
@media screen and (max-width: 575px) {
    .projects { 
        flex: 0 100%
    }
}
